@using SOCAUD.Common.Enum;
@using SOCAUD.Intranet.Models;
@model ConsultaConcurso
 
@{
    ViewBag.PageTitle = "Consulta";
    ViewBag.PageDescription = "Concurso Publico";
}
 
 
    <div class="box box-primary color-palette-box">
        <div class="box-header with-border">
            <h3 class="box-title">Busqueda de Publicaciones de Concurso</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                      @Html.LabelFor(c=>c.CodigoCronograma)
                      @Html.DropDownListFor(c => c.CodigoCronograma, Model.cboCronograma, "Seleccione", new { @class = "form-control"  })
                    </div>
                    <div class="col-md-3">
                      @Html.LabelFor(c=>c.NumeroConcurso)
                      @Html.TextBoxFor(c => c.NumeroConcurso,  new { @class = "form-control"  })
                    </div>
                   <div class="col-md-3">
                        <br />
                        <button id="btnBuscar" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;Buscar</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tabPublicacion" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section scripts {

    <script type="text/ecmascript">


        var _dataPublicacion_ = null;


        var tabPublicacion = $("#tabPublicacion").dataTable({
            "info": false,
            "bServerSide": false,
            "data": _dataPublicacion_,
            "order": [[1, "asc"]],
            "columns": [
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "render": function (data, type, row) {
                        return '<center><button class="btn btn-primary" title="Abrir Documento" type="button" onclick="descargarPublicacion(' + row[0] + ');"><i class="fa fa-download"></i></button></center>';
                    }
                },
                { "sTitle": "Nº Publicacion" },
                { "sTitle": "Fecha Max. <br/> Publicar Concurso" },
                { "sTitle": "Fecha Max. <br/> Elaborar Consulta" },
                { "sTitle": "Fecha Max. <br/> Absolver Consulta" },
                { "sTitle": "Fecha Max. <br/> Recepcionar Propuestas" },
                { "sTitle": "Estado" },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "render": function (data, type, row) {
                        if (row[7] == '@Convert.ToInt32(Estado.Publicacion.Publicado)')
                            return '<center><button class="btn" title="Ver Auditores" type="button" onclick="verCortePublicacion(' + row[0] + ');"><i class="fa fa-users"></i></button></center>';
                        else
                            return ""
                    }
                } 
            ]

        });



        $(document).ready(function () {
            listarPublicaciones();
            $("#btnBuscar").click(function () {
                listarPublicaciones();
            });
        });

        function listarPublicaciones() {
            $.ajax({
                url: '@Url.Action("ListarPublicaciones", "ConsultasGeneral")',
                type: 'POST',
                async: false,
                data: { idCronograma: $("#CodigoCronograma").val(), numeroPublicacion: $("#NumeroConcurso").val() },
                success: function (result) {
                    _dataPublicacion_ = result;
                    tabPublicacion.fnReloadData(_dataPublicacion_);
                }
            });
        }

    </script>
}