@using SOCAUD.Intranet.Models;

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/Image/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@Session["sessionUsuarioNombreCompleto"]</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
@*        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MENU PRINCIPAL</li>

            @foreach(var item in (List<MenuOpcionesModel>)Session["sessionMenuSistema"]){

            <li class="treeview"> 
                @{
                    string controlador = ""; 
                    string accion = ""; 
                    string areaR = ""; 
                    if (item.Ruta != "#") {
                        if (item.Ruta.Split('/').Length > 3) {
                            areaR = item.Ruta.Split('/')[1];
                            controlador = item.Ruta.Split('/')[2];
                            accion = item.Ruta.Split('/')[3];
                        } else {
                            areaR = "";
                            controlador = item.Ruta.Split('/')[1];
                            accion = item.Ruta.Split('/')[2];                            
                        }
                   
                     }
                  }
                
                    
                        <a href="@Url.Action(accion, controlador, new { area = areaR })">
                    
                
                    <i class='@item.Css'></i> <span>@item.Nombre</span>
                    @if (item.Ruta == "#"){
                        <i class="fa fa-angle-left pull-right"></i>
                    }
                </a>
                @if (item.Ruta == "#") {
                    foreach(var item2 in item.SubMenu){

                        
                            string controlador2 = item2.Ruta.Split('/')[1];
                            string accion2 = item2.Ruta.Split('/')[2];
                         

                        <ul class="treeview-menu">
                            <li><a href='@Url.Action(accion2, controlador2)'><i class="fa fa-circle-o"></i>@item2.Nombre</a></li>
                        </ul>
                    }
                }
            </li>
            }

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>