@using SOCAUD.Common.Enum;
@model SOCAUD.Intranet.Models.CronogramaModel
@{
    ViewBag.PageTitle = "Cronograma";
    ViewBag.PageDescription = "Información de Cronograma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(c => c.Codigo)
<div class="box box-primary color-palette-box">
    <div class="box-header with-border">
        <h3 class="box-title">Cronograma</h3>
    </div>
    <div class="box-body">
        <form id="frmCronograma">
            <div class="form-group">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(c => c.Codigo)
                            @Html.TextBoxFor(c => c.Codigo, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(c => c.Anio)
                            @Html.TextBoxFor(c => c.Anio, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(c => c.FechaPublicacion)
                            <div class="input-group date">
                                @Html.TextBoxFor(c => c.FechaPublicacion, new { @class = "form-control", @readonly = "true" })
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(c => c.FechaMaximaCreacionBase)
                            <div class="input-group date">
                                @Html.TextBoxFor(c => c.FechaMaximaCreacionBase, new { @class = "form-control", @readonly = "true" })
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                            <button type="button" id="btnRegresar" onclick="regresar();" class="btn btn-default"><i class="fa fa-chevron-left"></i>&nbsp;Regresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@Html.Partial("_entidadcronogramaview", Model.Entidad)

<div class="box box-primary color-palette-box">
    <div class="box-header with-border">
        <h3 class="box-title">Flujo de Aprobación</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    @Html.HiddenFor(c=>c.CodigoWorkFlow)
                    @Html.LabelFor(c => c.EstadoCronograma) : @Html.Raw(Model.EstadoCronograma)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="tabFlujo" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0"></table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (Model.FlgMostrarFlujoAprobacion == "S") {
                    <button type="button" id="btnSolicitar" class="btn btn-primary" onclick="solicitarAprobacion();"><i class="fa fa-fw fa-share"></i>Enviar WorkFlow Aprobación</button>
                }
                <button type="button" id="btnRegresar2" onclick="regresar();" class="btn btn-default"><i class="fa fa-chevron-left"></i>&nbsp;Regresar</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalWorkflow" tabindex="-1" role="dialog" aria-hidden="true"></div>

@section scripts {

    <script type="text/javascript" language="javascript">
        var tabFlujo;
        var _dataFlujo_ = null;


        function solicitarAprobacion() {
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Solicitud", "Workflow")',
                data: { idDocumento: $("#Codigo").val(), tipoDocumento: "C", idFlujo: $("#CodigoWorkFlow").val() },
                success: function (result) {
                    $("#modalWorkflow").empty().html(result).modal();
                }
            });
        }


        $(document).ready(function () {
            listarFlujos();
        });

        function listarFlujos() {

            if (tabFlujo == undefined) {
                tabFlujo = $("#tabFlujo").dataTable({
                    "info": false,
                    "bServerSide": false,
                    "data": _dataFlujo_,
                    //"order": [[1, "asc"]],
                    "columns": [
                        { "sTitle": "Flujo" },
                        { "sTitle": "Nota" },
                        { "sTitle": "Fecha" }
                    ]

                });
            }

            $.ajax({
                url: '@Url.Action("ListarWorkflowDocumento", "Workflow", new { Area = "" })',
                type: 'POST',
                async: false,
                data: { idDocumento: $("#Codigo").val(), tipoDocumento : "C" },
                success: function (result) {
                    _dataFlujo_ = result;
                    tabFlujo.fnReloadData(_dataFlujo_);
                }
            });
        }

        function regresar()
        {
            document.location = '@Url.Action("Index", "Cronograma")';
        }
</script>
}