@using SOCAUD.Intranet.Models;
@model ParametroModel
 
@{
    ViewBag.PageTitle = "Editar Parametro";
    ViewBag.PageDescription = "Editar Parametro";
    ViewBag.PageDescription = "Editar parametros del sistema";
}
 
<form id="frmEditarParametro">
    @Html.HiddenFor(c=>c.CODPAR)
    <div class="box box-primary color-palette-box">
        <div class="box-header with-border">
            <h3 class="box-title">Editar Parametro</h3>
        </div>
        <div class="box-body">
            <div class="form-group">

                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.CODTIPPAR)
                        @Html.DropDownListFor(c=>c.CODTIPPAR, Model.cboListaTipoParametro, "Seleccione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.CODTIPPAR)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.NOMPAR)
                        @Html.TextBoxFor(m => m.NOMPAR, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.NOMPAR)
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.VALOR)
                        @Html.TextBoxFor(m => m.VALOR, new { @class = "form-control"  })
                        @Html.ValidationMessageFor(c => c.VALOR)
                    </div>
                </div>
  


 

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <button id="btnEditar" type="button" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Grabar</button>
                        <button id="btnRegresar" type="button" class="btn btn-info"> &nbsp;Regresar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {

    <script type="text/ecmascript">

        $(document).ready(function () {
 



            $("#btnRegresar").click(function () {
                document.location.href = '@Url.Action("BandejaParametros","Parametro")';
            });


            $("#btnEditar").click(function () {

                if (!$("#frmEditarParametro").isValid()) return;

                bootbox.confirm(parametros.general.mensajeConfirmacion, function (result) {

                    if (result) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("EditarDatosParametro","Parametro")',
                            data: $("#frmEditarParametro").serialize(),
                            success: function (result) {
                                mostrarNotificacion(result);
                            }
                        });
                    }
                });
            });


        });
    </script>
}