@using SOCAUD.Intranet.Models;
@model MenuModel
 
@{
    ViewBag.PageTitle = "Editar Menu";
    ViewBag.PageDescription = "Editar Menu";
    ViewBag.PageDescription = "Editar Menu";
}
 
<form id="frmEditarMenu">
    @Html.HiddenFor(m => m.CODMEN)
    <div class="box box-primary color-palette-box">
        <div class="box-header with-border">
            <h3 class="box-title">Editar Item Menu</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.DESMEN)
                        @Html.TextBoxFor(m => m.DESMEN, new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(c => c.DESMEN)
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.RUTAMEN)
                        @Html.TextBoxFor(m => m.RUTAMEN, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.RUTAMEN)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.ORDEN)
                        @Html.TextBoxFor(c=>c.ORDEN , new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.ORDEN)
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.ICONCSS)
                        @Html.DropDownListFor(c=>c.ICONCSS, Model.ListaIconos, "Seleccione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.ICONCSS)      
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <button id="btnEditar" type="button" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                        <button type="button" id="btnRegresar"  class="btn btn-default"><i class="fa fa-chevron-left"></i>&nbsp;Regresar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {

    <script type="text/ecmascript">

        $(document).ready(function () {
            
            $("#btnRegresar").click(function () {
                document.location.href = '@Url.Action("Index","Menu")';
            });


            $("#btnEditar").click(function () {

                if (!$("#frmEditarMenu").isValid()) return;

                bootbox.confirm(parametros.general.mensajeConfirmacion, function (result) {

                    if (result) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("EditarMenu","Menu")',
                            data: $("#frmEditarMenu").serialize(),
                            success: function (result) {
                                mostrarNotificacion(result);
                            }
                        });
                    }
                });
            });


        });

    </script>
}