@using System;
@using SOCAUD.Common.Enum;
@model SOCAUD.Intranet.Models.BaseModel
@{
    ViewBag.PageTitle = "Base";
    ViewBag.PageDescription = "Información de Base";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(c => c.Codigo)
<div class="box box-primary color-palette-box">
    <div class="box-header with-border">
        <h3 class="box-title">Información General de la Base</h3>
    </div>
    <div class="box-body">
        <form id="frmBases">
            @Html.HiddenFor(c => c.Codigo)
            <div class="form-group">

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(c => c.Cronograma)
                            @Html.DropDownListFor(c => c.Cronograma, Model.Cronogramas, "Seleccionar", new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Cronograma)
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(c => c.CronoEntidad)
                            @Html.DropDownListFor(c => c.CronoEntidad, Model.Entidades, "Seleccionar", new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.CronoEntidad)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(c => c.FecIniAuditoriaCronograma)
                            @Html.TextBoxFor(c => c.FecIniAuditoriaCronograma, new { @class = "form-control", @readonly = "true" })
                        </div>
                    
                        <div class="col-md-6">
                            @Html.LabelFor(c => c.FecFinAuditoriaCronograma)
                            @Html.TextBoxFor(c => c.FecFinAuditoriaCronograma, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(c => c.Numero)
                            @Html.TextBoxFor(c => c.Numero, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(c => c.FechaMaxPublicacion)
                            <div class="input-group date">
                                @Html.TextBoxFor(c => c.FechaMaxPublicacion, new { @class = "form-control" })
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(c => c.FechaMaxPublicacion)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(c => c.TotalRetribucion)
                            @Html.TextBoxFor(c => c.TotalRetribucion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.TotalRetribucion)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(c => c.TotalViaticos)
                            @Html.TextBoxFor(c => c.TotalViaticos, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.TotalViaticos)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(c => c.TotalIgv)
                            @Html.TextBoxFor(c => c.TotalIgv, new { @class = "form-control", @readonly="true" })
                            @Html.ValidationMessageFor(c => c.TotalIgv)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Requiere Firma PCAOB</label>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" name="FirmaPcaob" id="FirmaPcaob1" value="S" autocomplete="off"> SI
                                </label>
                                <label class="btn btn-default active">
                                    <input type="radio" name="FirmaPcaob" id="FirmaPcaob2" value="N" autocomplete="off" checked> NO
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Requiere Firma Internacional</label>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" name="FirmaInternacional" id="FirmaInternacional1" value="S" autocomplete="off"> SI
                                </label>
                                <label class="btn btn-default active">
                                    <input type="radio" name="FirmaInternacional" id="FirmaInternacional2" value="N" autocomplete="off" checked> NO
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="button" id="btnGrabar" class="btn btn-primary" onclick="grabarCronograma();"><i class="fa fa-fw fa-save"></i>Grabar Información</button>
                            <button type="button" id="btnRegresar" onclick="cancelar();" class="btn btn-default"><i class="fa fa-chevron-left"></i>&nbsp;Regresar</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


@section scripts {

    <script type="text/javascript" language="javascript">
    $(document).ready(function () {
        /*
        $("#TotalViaticos").blur(function () {
            var totalRetribucion = $("#TotalRetribucion").val();
            var totalViaticos = $("#TotalViaticos").val();
            var totalIgv = (( parseFloat(totalRetribucion) + parseFloat(totalViaticos)) * 0.08).toFixed(2);
            $("#TotalIgv").val(totalIgv);
        });*/

        $('#FechaMaxPublicacion').datepicker({
            format: "dd/mm/yyyy",
            startDate: '@DateTime.Now.ToString("dd/MM/yyyy")'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $("#Cronograma").on("change", function () {
            var cronograma = $(this).val();
            Entidades(cronograma);
        });

        $("#CronoEntidad").on("change", function () {
            var croEntidad = $(this).val();
            InforAuditoriaCronograma(croEntidad);
        });
        
        $("#btnRegresar").click(function () {
            document.location.href = '@Url.Action("Index","Base")';
        });

        $("#TotalRetribucion").keyup(function () {
            var totalRetribucion = $("#TotalRetribucion").val();
            totalRetribucion = parseFloat(totalRetribucion);
            var igvTotal = totalRetribucion * 0.18
            $("#TotalIgv").val(igvTotal);
        });

    });


    function InforAuditoriaCronograma(croEntidad) {
        
        if (croEntidad == null || croEntidad == undefined || croEntidad == "") {
            $("#FecIniAuditoriaCronograma").val("");
            $("#FecFinAuditoriaCronograma").val("");
            return;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("infoEntidadCronograma", "Base")',
            data: { "idCronoEntidad": croEntidad },
            dataType: "json",
            success: function (result) {
                $("#FecIniAuditoriaCronograma").val(result.FechaIni);
                $("#FecFinAuditoriaCronograma").val(result.FechaFin);
            }
        });
    }

    function Entidades(cronograma)
    {
        $("#CronoEntidad option").not(":first").remove();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ListarEntidadCronograma", "Base")',
            data: { "cronograma": cronograma },
            dataType: "json",
            success: function (result) {
                $.each(result, function (key, value) {
                    $("#CronoEntidad").append("<option value='" + value.Value + "'>" + value.Text + "</option>")
                });
            }
        });
    }


    function grabarCronograma() {

        if (parseFloat($("#TotalRetribucion").val()) <= 0) {
            new PNotify({
                title: 'Respuesta Sistema!',
                type: "error",
                text: "La retribución economica debe ser mayor a 0 (cero)"
            });
            return;
        }

        if (parseFloat($("#TotalViaticos").val()) < 0) {
            new PNotify({
                title: 'Respuesta Sistema!',
                type: "error",
                text: "El viatico debe ser mayor o igual a 0 (cero)"
            });
            return;
        }


        if (!$("#frmBases").isValid()) { return; }

        bootbox.confirm(parametros.general.mensajeConfirmacion, function (result) {

            if (result) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveBase", "Base")',
                    data: $("#frmBases").serialize(),
                        dataType: "json",
                        success: function (result) {
                            mostrarNotificacion(result);
                            if (result.Exito)
                            {
                                $("#Numero").val(result.Data.NUMBAS)
                                $("#btnGrabar").prop("disabled", true);
                                document.location = '@Url.Action("Editar", "Base", new { id = "_id_" })'.replace("_id_", result.Data.CODBAS);
                            }
                        }
                    });
                }
            });
    }

        function regresar() {
            document.location = '@Url.Action("Index", "Base")';
        }
    </script>
}
